.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#game-canvas-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#game-canvas-container > canvas {
    position: absolute;
}
