.github-box {
    z-index: 2000;
    padding: 16px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    /*root*/
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.github-box a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
}

.github-box a:hover {
    color: #fff;
    text-decoration: underline;
}

.github-logo {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}
