body {
    margin: 0;
    padding: 0;
    background: #333;
}

#game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    touch-action: manipulation;
}

#game-canvas-container {
    display: flex;
    justify-content: center;
}

#game-canvas-container > canvas {
    position: absolute;
}
