html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #333;
}

#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    touch-action: manipulation;
    justify-content: center;
}

#game-canvas-container {
    display: grid;
    justify-content: center;
    outline: 0;
    position: relative;
}

#game-canvas-container > canvas {
    grid-column: 1;
    grid-row: 1;
    outline: none;
}

.mobile-helper-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh;
    margin-left: -80px;
}

.mobile-helper-toolbar button {
    width: 80px;
    height: 80px;
    /*bootstrap .btn-dark*/
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    /*bootstrap .btn*/
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    /*root*/
    cursor: pointer;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
