html, body {
    margin: 0;
    padding: 0;
    background: #333;
}

#game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    touch-action: manipulation;
    justify-content: center;
}

#game-canvas-container {
    display: grid;
    justify-content: center;
    outline: 0;
}

#game-canvas-container > canvas {
    grid-column: 1;
    grid-row: 1;
}
